<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>RYT React Articles</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	
<!-- 	<script type="text/javascript" src="../../assets/javascript/global.js"></script>
	<link rel="stylesheet" href="../../assets/css/style.css"> -->

  </head>
  <body>
    {{{ body }}}

    <script src="/../bundle.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  </body>
</html>